#copyButton, #helpMessage {
    -fx-text-fill: #0f172a;
}

#copyButton {
    -fx-background-color: #ffffff;
    -fx-border-color: #e2e8f0;
    -fx-border-width: 1;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

#copyButton:hover {
    -fx-background-color: #f1f5f9;
}

#copyButton:armed {
    -fx-background-color: #e2e8f0;
}

#helpMessageContainer {
    -fx-background-color: #f8fafc;
}
